# Git files
.git/


# Terraform files
# Excluding TF files that contain sensitive information.
# Included the "main.tf" file for learning purposes.
Terraform/.terraform/
Terraform/.terraform.lock.hcl
Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup

