/*====================*/
/*---- GLOBAL CSS ----*/
/*====================*/
body {
  font-family: "Open Sans", Verdana, Arial;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.socialIcons {
  font-size: 50px;
}

.italicText {
  font-style: italic;
  font-weight:100;
  margin-top: 0px;
  margin-bottom: 40px;
}

.sectionTitle{
  font-size: 30px;
  font-weight: 700;

}

.class-name-of-grid-element {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px 200px;
}


/*========================*/
/*---- NAVIGATION BAR ----*/
/*========================*/
.nav-bar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  
}

.nav-bar a {
  padding: 15px;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
}

.nav-bar a:hover {
  color: rgb(252, 133, 133);
}

.nav-bar a:current {
  color: rgb(255, 0, 0);
}


/*====================*/
/*---- PAGE 1 CSS ----*/
/*====================*/
#personalStatement {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
  text-align: center;
}

.Page1Heading {
  font-family: "Open Sans", Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 60px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*====================*/
/*---- PAGE 2 CSS ----*/
/*====================*/
#aboutMe {
  background-color: rgba(204, 94, 94, 0.603);
}

.aboutMe-div {
  width: 90%;
  max-width: 1020px;
  margin: auto;
}

.page2_personalStatement {
  font-size: 15px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 40px;
  display: inline-block;
}

/*====================*/
/*---- PAGE 3 CSS ----*/
/*====================*/


.subHeading {
  margin-top: 8px;
  margin-bottom: 3px;
  font-weight: 500;
}

.subText {
 margin-top: 5px;
}

.page3_workhistory {
  width: 300px;
  vertical-align: top;
  margin-right: 50px;
}

.page3_qualifications {
  width: 550px;
  vertical-align: top;
  margin-right: 50px;
}

.page3_projectsAndAchievements {
  width: 850px;
  vertical-align: top;
}

.page3_year {
  display: inline-block;
  width: 45px;
  vertical-align: top;
  margin-top: 8px;
  font-style: italic;
  font-weight:100;
}

.page3_projects {
  display: inline-block;
  width: 800px;
  vertical-align: top;
  margin-top: 8px;
  margin-bottom: 40px;
  font-weight: 500;
}





.random {
border-style: solid;
border-color: black;
border-width: 1px;
}